/* ауторизация в футере */
.footer-navig {
  margin-top: 9px;
  &:hover {
    color: var(--accent-color);
  }
}
.footer-navig-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
// .footer-navig:hover .footer-navig-link,
// .footer-navig-link:focus {
//   color: var(--accent-color);
// }
